{% extends base.html %}
{% block title %}
  Pay with Credit Card
{% endblock %}
{% block content %}
    <h2 class="text-center mt-2">Pay with Credit Card</h2>
    <form id="payment" method="POST">
        {% csrf_token %}
        <label for="card">Card Number</label>
        <div id="card" class="field"></div>
        
        <label for="cvv">CVV</label>
        <div id="cvv" class="field"></div>
        
        <label for="expiry"></label>
        <div id="expiry" class="field"></div>
        <input type="hidden" name="payment_method_nonce" id="nonce" value="" />
        <input type="submit" value="Pay" />
      
    </form>
{% endblock %}