{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Delete your account {% endblock %}
{% block content %}
<h1 class="pb-2 mt-4 mb-3 text-center fw-bold" style="color:#333">Delete your account</h1>
<p class="text-center" style="color:red; opacity:.8;">Note that once you delete your account, there is no going back</p>
<form class="form" method="POST">
  {% csrf_token %}
  {{ del_form|crispy }}
  <p class="my-2 text-center" ><input type="submit" class="fw-bold w-75 py-2 border-0" style="background:red; color:#fff;" value="Delete"/></p>
</form>
{% endblock %}