{% extends 'base.html' %}
{% load static bootstrap_icons %}
{% block title %}Cart{% endblock %}
{% block content %}
{% if cart %}
  <div class="total_sm mt-1">
    <p style="color:#666; font-size:14px; height:10px;" class="px-2">SUMMARY</p>
    <div style="background:white; font-size:20px;" class="px-3 py-2 fw-bold">
      Total Price <span class="float-end">${{ cart.get_total_price }}</span>
    </div>
  </div>
  <div class="cart_list">
    <p style="color:#666; font-size:14px; height:10px;" class="px-2 pt-2 pb-3">CART({{ cart|length }})</p>
    
    {% for item in cart %}
      {% with product=item.product %}
      <div class="ms-2 pe-3 pb-2 pt-2" style="margin-bottom:20px; background: white; border-radius:9px;">
      <a class="" href="{{ product.get_absolute_url }}">
        <img class="cart_img float-start me-3 ms-2 my-2" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="image" />
      </a>
      <a href="{{ product.get_absolute_url }}">
        <span style="font-size:14px; text-align:justify;" class=" mt-3 pb-2">{{ product.name }}</span>
      </a>
      <p style="font-size:20px;"class="d-block float-md-end fw-bold pb-2 py-2 ">${{ item.price }}</p>
        <div style="align-items:start"><form action="{% url 'cart:cart_remove' product.id %}" method="POST">
          {% csrf_token %}
          <button style="background:#fff; color:#ff933b;width:100%; font-size:16px;" class=" border-0 text-start fw-bold px-2 mb-2 mt-4 pb-2 "> <span>{% bs_icon 'trash' size="1em" %}</span>REMOVE</button>
          </form></div>
          <form action="{% url 'cart:cart_add' product.id %}" method="POST" style="margin-top:-80px;" class="pt-1 float-end me-2">
               {% csrf_token %}
               {{ item.update_quantity_form.quantity }}
               {{ item.update_quantity_form.override }}
               <a href="#" class=" text-decoration-none"><button style="background:#ff933b; font-size:10px; border-radius:7px;" class=" border-0 text-center py-1 px-1 text-white" type="submit">update</button></a>
             </form>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
  <div class="d-md-none checkout">
    <a class="text-decoration-none"href="{% url 'orders:order_payout' %}"><button style="background:#ff933b; font-size:17px; color:#fff; border-radius:7px;" class="w-100 border-0 py-2 px-3 fw-bold my-2" type="submit">CHECKOUT (${{ cart.get_total_price }})</button></a>
  </div>
  <div class="total mt-1">
    <p style="background:#fff; color:#333; font-size:14px;" class="ps-2 py-2 mb-1">CART SUMMARY</p>
    <div style="background:white; font-size:20px;" class="px-3 py-2 fw-bold">
      Total Price <span class="float-end">${{ cart.get_total_price }}</span>
      <a class="text-decoration-none" href="{% url 'orders:order_payout' %}"><button style="background:#ff933b; font-size:17px; color:#fff; border-radius:7px;" class="w-100 border-0 py-2 px-3 fw-bold mt-5 mb-3" type="submit">CHECKOUT (${{ cart.get_total_price }})</button></a>
    </div>
  </div>
  {% else %}
  <img class="cart_img mb-2 mx-auto d-block" src="{% static 'img/empty_cart.png' %}" alt="" />
  <p style="font-size:18px;" class="fw-bold text-center">Your cart is empty!</p>
    <p class=" text-center">Click button below to start shopping</p>
    <div class="text-center"><a class="text-decoration-none" href="{% url 'app:product_list' %}">
      <button class="button p-2 mx-auto text-center border-0 d-block fw-bold" type="submit">
        START SHOPPING
      </button></a>
    </div>
  {% endif %}
{% endblock %}
