{% extends 'base.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-5">
      <div class="mt-2 ms-2">
        <p style="color:#666; font-size:14px; height:10px;" class="px-2 py-2">YOUR ADDRESS</p>
        <div class="px-3 pb-2 pt-2" style="margin-bottom:10px; background: white; border-radius:9px;">
          <p class="mb-1" style="font-size:16px;">{{ request.user.get_full_name }}</p>
          <p class="mb-1" style="color:#888; font-size:14px;">{{ request.user.customer.address }}</p>
          <p class="mb-1" style="color:#888; font-size:14px;">{{ request.user.customer.country }}</p>
          <p class="mb-1" style="color:#888; font-size:14px;">{{ request.user.customer.state }} - {{request.user.customer.city}}</p>
          <p class="mb-1" style="color:#888; font-size:14px;">{{request.user.customer.phone_number}}</p>
        </div>
        <p class="text-end"><a style="color:#ff933b" href="{% url 'order_register' %}">Change Address</a></p>
      </div>
    </div>
   {% if cart %}
      <div class="col-md-7">
        <div style="background: white; padding:10px; border-radius:9px;" class="mt-2 mb-5 me-2">
            <h3 class="mb-4">Summary</h3>
            <h4 style="border-bottom:2px solid black"class="mb-4 fw-bold">Total Price: ${{ cart.get_total_price }}</h4>
            <table style="border-collapse:collapse; color:#333;" class="text-center">
              <thead>
                <tr>
                  <th scope="col"><h4>item</h4></th>
                  <th scope="col"><h4>name</h4></th>
                  <th scope="col"><h4>quantity</h4></th>
                  <th scope="col"><h4>price</h4></th>
                </tr>
              </thead>
              {% for item in cart %}
              {% with product=item.product %}
              <tbody>
                <tr>
                  <td><div style="width:60px; height:60px;"><img style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="image" /></div></td>
                  <td><h5>{{ product.name|truncatewords:5 }}</h5></td>
                  <td><h4>{{ item.quantity }}</h4></td>
                  <td><h4>${{ item.total_price }}</h4></td>
                </tr>
                {% endwith %}
              {% endfor %}
              </tbody>
            </table>
            <div class="mt-4 mb-3 text-center">
              <a style="background:#ff933b; color:white; border-radius:9px; width:90%;" class="fw-bold p-2 d-inline-block" href="{% url 'cart:cart_detail' %}">MODIFY CART</a>
            </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}