{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your Password {% endblock %}
{% block content %}
 <h1 style="margin-top:120px;"  class="pb-2 mt-1 mb-3 text-center fw-bold" style="color:#333;">Reset your Password</h1>
 {% if validlink %}
   <p class="text-center" style="color:#888;">Please Enter a new password</p>
   <form method="POST" class="form">
     {% csrf_token %}
     {{ form|crispy }}
      <p><input style="font-weight:bold; background:#ff933b; color:#fff; font-size:14px; padding:10px 20px; text-transform:uppercase;" class="border-0" type="submit" value="Change your password"/></p>
   </form>
 {% else %}
   <p>The password reset link was invalid, Please request a new password reset below</p>
    <a href="{% url 'password_reset' %}" style="font-weight:bold; background:#ff933b;color:#fff; font-size:14px;text-transform:uppercase;text-decoration:none;" class="p-2">Reset again</a>
 {% endif %}
 {% endblock %}

 